:root {
  --bg: #6B9B12;
  --header: #fff;
  --link: #6B9B12;
  --text: hsla(0, 0%, 100%, 0.88);
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* NAVIGATION */
h1 {
  font-family: 'Fascinate', cursive;
  font-size: 40px;
}

.main-header {
  background-color: #F6F3CB;
  /* color: var(--header); */
  padding: 20px;
  text-align: center;
}

.link {
  font-family: 'Zilla slab';
  font-weight: 600;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  color: var(--link);
  text-decoration: none;
}
/* END NAVIGATION */

p, h2, h3, h4, a, input, label {
  font-family: 'Zilla Slab', serif;
}

label{
  /* font-size: 15px; */
  display: flex;
  flex-direction: row;
}

*:disabled {
  background-color: rgb(222, 222, 222);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border: 1px solid black;
  border-radius: 15px;
  width: 50%;
  margin: 20px;
}

form h2 {
  font-size: 25px;
}

form input{
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 8px;
  width: 300px;
  background-color: #ffffff;
}

input[type=submit]{
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 322px;
  color: white;
  border: 1px solid #E64A07;
  background-color: #E64A07;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.07em;
}

@media screen and (max-width: 768px) {
  form{
    width: 100%;
    height: 75vh;
  }

  form input{
    width: 65%;
  }

  form input[type=submit]{
    width: 72%;
  }
}

/* MAPBOX POPUP CONTENT */
.mapbox-popup {
  display: flex;
  flex-direction: row;
}

.map-container {
  height: 600px;
}

.mapboxgl-marker {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* MAPBOX POPUP POSITION */
/* .mapboxgl-popup-anchor-top,
.mapboxgl-popup-anchor-top-left,
.mapboxgl-popup-anchor-top-right {
  max-width: 300px;
  transform: translate(-55%, -5px) translate(445px, 260px) !important;
}

.mapboxgl-popup-anchor-bottom,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
  max-width: 300px;
  transform: translate(-55%, 5px) translate(445px, 260px) !important;
}

.mapboxgl-popup-anchor-left,
.mapboxgl-popup-anchor-right {
  max-width: 300px;
  transform: translate(-55%, -5px) translate(445px, 260px) !important;
} */
/* END MAPBOX POPUP POSITION */


/* MAPBOX POPUP TIP TRIANGLE */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #282c34 !important;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #282c34 !important;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #282c34 !important;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #282c34 !important;
    }
  /* END MAPBOX POPUP TIP TRIANGLE */

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  border-style: solid;
  border-width: 1px;
  display: flex !important;
  flex-direction: row !important;
  padding: 0;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content img {
  width: 40%;
}


/* USER PINS */

.pin-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pin-card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  padding: 20px;
}

.pin-card img {
  width: 100px;
  border-radius: 5px;
}


.pin-card-text {
  margin-left: 20px;
}

.pin-card-text h4 {
  margin: 10px 0px;
}

/* END USER PINS */