[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
sqlalchemy = "*"
pillow = "*"
requests = "*"
python-dotenv = "*"
piexif = "*"
exif = "*"
flask-bcrypt = "*"
gunicorn = "*"
psycopg2-binary = "*"

[requires]
python_full_version = "3.8.13"
